/** @format */

body {
  margin: 30px 200px;
  padding: 20px 10px;
  font-family: "Handlee", cursive;
  background-image: url("https://transparenttextures.com/patterns/cartographer.png");
  color: #fff;
}

.heading-tag {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}
.heading-tag h3 {
  padding: 0px 10px;
  margin-bottom: 0;
}
.heading-bar {
  border-radius: 5px;
  margin: 10px auto;
  height: 30px;
  width: 100%;
  background: linear-gradient(0deg, #626262 100%, rgba(181, 181, 181, 0.00) 100%);
  box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.heading-bar p{
    padding: 6.5px 10px ;
}

.icon-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: solid 4px #fff;
  display: flex;
}
.note{
  text-align: center;
  align-items: center;
  background-color: aqua;
  height: 400px;
  width: 200px;
  border: solid #fff;
  border-radius: 10px;
  margin: 10px 0 0;
}

.note img{
  position: relative;
  margin: 20px 0 0;
  left: 35%;
}

.note a{
  position: relative;
  top: 30%;
  color: black;
  border: solid;
  align-items: end;
  text-align: end;
  justify-items: self-end;
  padding: 5px 10px;
  border-radius: 4px;
  
}

.content{
  margin: 50px 10%;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 100px;
}