body
{
    text-align: center;
    font-family: 'Handlee', cursive; 
    background-color:whitesmoke;
    background-image: url("https://transparenttextures.com/patterns/cartographer.png");
    color: #fff;
}